<%- include('../../views/partials/header.ejs')%>


    <div class="container-fluid">
        <h1>COLLECTIBLE LIGHTERS</h1>
        <div class="row">
            <div class="col pe-0 col-md-9">
                <img class="img-seccion" src="../img/marvel.jpg" alt="foto">
            </div>
            <div class="col pt-4 p-5  col-md-3 box">
                <h2>EXLCUSIVE <br> LIMITED <br> EDITION <br>LIGHTERS ONLY <br>AT ZIPPO.COM</h2>
                <div class="d-grid ">
                    <button class=" buy btn btn-danger mt-4" type="button">Button</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-9 ps-5 pt-2">
                <h1>EXPLORE THE LIGHTERS<br>IN OUR CATALOG</h1>
            </div>
            <div class="col p-2  col-md-3 box2">
                <p>SHOP</p>
               
            </div>
        </div>
    </div>

    <%- include('../../views/partials/footer.ejs')%>